@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
body{
    margin: 0;
    font-family: Catamaran, SansSerif;
}
.velo{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-image: url("/img/fondo.jpg");
    background-size: cover;
    background-position: bottom right;
    z-index: 0;
}
nav{
    font-family: Courgette, Cursive;
    font-size: 1.5em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #DC001B;
    z-index: 100;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav>ul>li{
    width: 350px;
    display: inline-block;
    text-align: center;
    padding: 12px 0;
}
#contacto{
    padding: 12px 0 9px 0;
}
nav>ul>li:hover{
    background-color: grey;
}
nav>ul>li>ul>li:hover{
    background-color: grey;
}
nav>ul>li>ul{
    position: absolute;
    top: 50px;
    display: none;
    background-color: #DC001B;
}
nav>ul>li>ul>li>ul{
    position: absolute;
    background-color: #DC001B;
    display: none;
    top: 0;
    left: 100%;
}
nav>ul>li:hover>ul{
    display: block;
}
nav>ul>li>ul>li{
    display: block;
    text-align: left;
    width: 340px;
    padding: 5px;
}
nav>ul>li>ul>li>ul>li {
    display: block;
    width: 340px;
    padding: 5px;
}
nav>ul>li>ul>li:hover>ul{
    display: block;
}
nav>ul>li>ul>li>ul>li:hover {
    background-color: grey;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: white;
    letter-spacing: 2px;
    transition: 0.5s;
    font-weight: bold;
}
header{
    font-family: Courgette, Cursive;
    position: absolute;
    background-color: white;
    font-size: 1.2em;
    top: 50px;
    left: 0;
    width: 100%;
    text-align: center;
}
main{
    position: absolute;
    background-color: rgba(255,255,255,0.80);
    top: 145px;
    left: 0;
    width: 100%;
}
main section{
    font-size: 1.2em;
    width: 85%;
    margin: 2em auto;
}
section img{
    display: none;
    height: 400px;
}
#esquema:hover>img{
    display: block;
}
code{
    white-space: pre-line;
    display: block;
    width: 80%;
    font-family: Catamaran, SansSerif;
    font-size: 0.8em;
    overflow: auto;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.5em;
}
.contacto{
    text-align: center;
    font-size: 1.3em;
}
.contacto a{
    text-decoration: underline;
}
.contacto a:hover{
    color: #DC001B;
    text-decoration: none;
}
@media (max-width: 1450px){
    nav>ul>li{
        width: 250px;
    }
    nav>ul>li>ul>li{
        width: 240px;
    }
}
@media (max-width:1050px) {
    nav>ul>li{
        width: 130px;
    }
    nav>ul>li>ul>li{
        width: 120px;
    }
    nav>ul>li>ul>li>ul>li{
        width: 150px;
    }
    header{
        font-size: 0.7em;
    }
    main{
        top: 100px;
    }
    main section{
        width: 90%;
    }
}
@media (max-width: 550px) {
    nav{
        height: 40px;
        font-size: 0.8em;
    }
    nav>ul>li{
        width: 60px;
    }
    nav>ul>li>ul>li{
        width: 50px;
    }
    nav>ul>li>ul>li>ul>li{
        width: 80px;
    }
    nav>ul>li>ul{
        top: 40px;
    }
    a:hover{
        letter-spacing: 0;
    }
    header{
        top: 40px;
        font-size: 0.5em;
    }
    main{
        top: 80px;
    }
    #contacto{
        padding: 12px 0 12px 0;
    }
    main section{
        width: 95%;
    }
}
